<!DOCTYPE html>
<html>
<head>
  <title>Portal de Consultas - Perfimec</title>
  <%- include('headIncludes.ejs') %>
</head>
<body>
  <!-- Inclui o menu -->
  <%- include('menu.ejs') %>

  <!-- Inclui o conteúdo do corpo -->
  <%- include('mainContent.ejs') %>

  <%- include('bodyIncludes.ejs') %>
</body>
</html>
